*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: poppins;
	display: flex;
	justify-content: center;
}
.container {
	width: 93%;
	padding-top: 10px;
}
.header {
	font-size: 12px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 30px;
}
.headerlists {
	list-style-type: none;
	display: flex;
	padding: 0;
}
.centerlist {
	margin-left: 15px;
	margin-right: 15px;
}
#btnsignup {
	border: none;
	outline: 0;
	border-radius: 5px;
	padding: 8px;
	margin-left: 15px;
	background-color: black;
	color: white;
}
#btnlogin {
	border: none;
	outline: 0;
	border-radius: 5px;
	padding: 8px;
	background-color: transparent;
	color: black;
}
.firstcontainer {
	border-radius: 5px;
	background-color: #0A0A0A;
	color: white;
	padding: 5%;
}
.btnsubmit {
	outline: 0;
	font-weight: 50;
	font-size: 10px;
	color: white;
	border-style: none;
	margin-left: 10px;
	border-radius: 5px;
	padding: 12px;
	width: 150px;
	background-color: #A831A5;
	background-image: linear-gradient(326deg, #A831A5 0%, #FB7B30 74%);

}
#promoselect {
	outline: 0;
	border-radius: 5px;
	font-size: 13px;
	padding: 8px;
}
#hero{
	position: absolute;
	top: -10px;
	right: 2%;
}
.promocontainer {
	position: relative;
}
.logocontainer {
	width: 530px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
#firstopt {
	color: grey;
}
.headerlists > .centerlist a:hover {
	color: #FB7B30;
}
#logo {
	font-size: 17px;
}
.firstcontainer h1 {
	font-size: 28px;
}
.firstcontainer p {
	font-size: 13px;
}
.companiescontainer {
	margin-top: 100px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.middlecontainer{
		display: flex;
		justify-content: space-between;
		margin-top: 50px;
	}
	.middlearticle {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 100%;
		height: 500px;
		margin-top: 100px;
		padding: 2%;
	}

	.middlearticle > h1 {
		padding: 0;
		height: fit-content;
		width: fit-content;
		margin:auto;
		}
	.middlearticle .btnsubmit {
		margin: auto;
		height: fit-content;
		width: 50%;
		margin-top: 30px;
	}
	.articles {
		margin-top: 50px;
		height: 80px;
		width: 80%;
		margin: auto;
	}
.art {
	display: flex;
	justify-content: space-between;
	width: 18%;
}
.articles > p {
	font-size: 12px;
}
.art > p {
	margin: 0;
	vertical-align: bottom;
	font-size: 18px;
}
button.btnsubmit {
	margin: auto;
	padding: 15px;
	width: 43%;
}
.btnsubmit:hover{
	background-color: #FB7B30;
	background-image: linear-gradient(326deg, #FB7B30 0%, #A831A5 74%);
}
#btnsignup:hover {
	background-color: #A831A5;
	background-image: linear-gradient(326deg, #A831A5 0%, #FB7B30 74%);
}
#btnlogin:hover {
	color: #FB7B30;
}
.postcontainer {
	position: relative;
	margin-top: 100px;
}
.pst{
	display: grid;
	justify-content: space-between;
	background-color: #0A0A0A;
	border-radius: 5px;
	padding: 40px;
	color: white;
}
.pst h1 {
	font-size: 28px;
}
.txt {
	display: flex;
	width: 100%;
}
.txt p {
	margin: 0;
	margin-left: 10px;
}
.pst .txts{
	display: grid;
	justify-content: space-between;
	height: 70px;
}
.btngoogle {
	background-color: white;
}
.btnexplore{
	background-color: #A831A5;
	background-image: linear-gradient(326deg, #A831A5 0%, #FB7B30 74%);
}
.btns{
	outline: 0;
	font-weight: 50;
	font-size: 10px;
	color: black;
	border-style: none;
	border-radius: 5px;
	padding: 12px;
	width: 49%;

}

.butns {
	display: flex;
	justify-content: space-between;
	width: 70%;
}
.signupimage {
	position: absolute;
	right: 4%;
	top: -40px;
	width: 692px;
	height: 379px;
}
.picturescontainer {
	margin-top: 100px;
	display: flex;
	justify-content: space-between;
}
.firstsection {
	display: flex;
	justify-content:space-between;
	width: 49%;
	height: 330px;
}
.secondsection {
	display: flex;
	justify-content:space-between;
	width: 49%;
	height: 450px;
}
.firstset {
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
	width: 60%;
}
.secondset {
	display: grid;
	justify-content: space-between;
}
.thirdset {
	display: grid;
	justify-content: space-between;
}
.footer{
	display: grid;
	justify-content: space-between;
	font-size: 11px;
	background-color: #0A0A0A;
	border-radius: 5px;
	padding: 5%;
	color: white;
	margin-top: 30px;
}
.footer {
	display: flex;
	justify-content: space-between;
}
.footerlists {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 50%;
}
.ftrlist {
	list-style-type: none;
}
.ftrlist > li {
	margin-bottom: 7px;
}
.firstitem {
	font-size: 15px;
	margin-bottom: 13px;
}
.ftrpara {
	padding: 13px;
	color: #808080;
	margin: auto;
	width: 90%;
	font-size: 80%;
}
#hamburgerbtn {
	width: 24px;
	height: 24px;
	display: none;

}
.elements {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.searchform {
	margin-top: 15px;
}
.centerpost h1 {
	width: 90%;
}
.ftrlist1, .ftrlist2 {
	display: flex;
	justify-content: space-between;
	width: 42%
}

@media screen and (max-width: 1098px){
	#hero,#leftpicture,#rightpicture,.signupimage {
		display: none;
	}
	body {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
	.container {
		width: 90%;
	}
	.firstcontainer {
		display: flex;
		justify-content: center;
	}
	.picturescontainer {
		display: none;

	}
	.companiescontainer {
		display: none;
	}
	.footer {
		flex-direction: column;
		justify-content: space-between;
		width: 100%;
		height: 300px;
	}
	.biggerfooter {
		display: flex;
		justify-content: center;
	}
	.footerlists {
		width: 70%;
		justify-content: space-between;
	}
}
@media screen and (min-width: 498px){
	#promoselect {
		width: 320px;
	}
}
@media screen and (max-width: 497px){
	#promoselect{
		width: 100%;
	}

	
}
@media screen and (max-width: 770px){

	#hamburger {
		display: none;
	}
	#hamburgerbtn {
		display: flex;
	}
	#logo {
		margin-left: 12px;
	}
	.logocontainer {
		width:fit-content;
	}
	.searchform {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}
	.footerlists {
		flex-direction: column;
	}
	.ftrlist1, .ftrlist2 {
		width: 100%;
		margin-top: 13px;
	}
	.footer {
		height: 350px;
	}

}
@media screen and (max-width: 585px){
	.btnsubmit {
		margin-top: 10px;
	}
}
@media screen and (max-width: 1202px){

	#leftpicture,#rightpicture {
		display: none;
	}
	.middlecontainer{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: fit-content;
		margin: auto;
	}
	.middlearticle {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 100%;
		height: 500px;
		margin-top: 50px;
	}

	.middlearticle > h1 {
		padding: 0;
		height: fit-content;
		width: 100%;
		}
	.middlearticle .btnsubmit {
		margin: auto;
		height: fit-content;
		width: 40%;

	}
	.articles {
		margin-top: 30px;
	}
	.prg {
		margin-top: 20px;
	}
}
@media screen and (max-width: 1233px){

	.signupimage {
		display: none;
	}
	.pst {
		display: flex;
		justify-content: center;
	}
	.butns {
		width: 100%;
	}

}
@media screen and (max-width: 350px){
	.footerlists {
		margin-top: 20px;
	}
	.ftrlist{
		margin-top: 20px;
	}
	.biggerfooter {
		height: fit-content;
	}
	.footer {
		height: 400px
	}
	.container {
		height: fit-content;
	}
}