body {
	padding-left: 10px;
	padding-bottom: 20px;
	font-family: Arial,Helvetica,sans-serif;
}
.headerlist {
	float: left;
	padding-left: 20px;
	padding-right: 10px;
	padding-top: 40px;
}
.navlist {
	float: left;
	padding-right: 15px;
	padding-top: 40px;
}
.navlist+.navlist:before {
	padding-right: 15px;
	content: '/'
}
ul {
	margin-top: 20px;
	list-style-type: none;
}
ol {
	margin-left: -35px;
	list-style-type: none;
}
.headerlinks {
	font-weight: bold;
	font-size: 20px;
}
.headerlinks:hover {
	text-decoration: underline;
}
.navlinks {
	font-size: 20px;
}
.navlinks:hover {
	text-decoration: underline;
}
.logo {
	width: 200px;
	height: 110px;
	float: left;
	}
nav {
	clear: left;
}
section {
	clear: left;
}
#textsection {
	width: 52%;
	padding-left: 6px;
	box-sizing: border-box;
}
h1 {
	margin-top: 140px;
}
.videos+.videos {
	margin-left: 70px;
}
.videos {
	margin-top:40px;
	border-style: solid;
	padding: 20px;
	width: 200px;
	float: left;
	border-width: 1px;
	line-height: 0.5;
}
.movie {
	width: 200px;
	height: 250px;
}
.rrp {
	color: grey;
}
.saving {
	color: green;
}