*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.container{
    background-image: url('../img/background.png');
    background-size: cover;
    font-family: 'poppins';
    height: 100vh;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 20% 60% 20%;
}
.container :is(.users_section){
    grid-area: 1/2/4/3;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.288);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    height: 80%;
    margin: auto 0;
    border: 3px solid #707070;
    padding: 3%;
    border-radius: 37px;
    overflow: auto;
    box-shadow: 4px 4px 8px 1px rgba(37, 37, 37, 0.616);
    scrollbar-width: none;
}
.users_section::-webkit-scrollbar{
    display: none;
}
.user{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 3%;
    margin-top: 2%;
    background-color: #FBFBFB;
    border-radius: 10px;
    box-shadow: 2px 2px 8px 1px rgba(37, 37, 37, 0.616);
}
button{
    border: none;
    background-color: #F5634A;
    padding: 2%;
    border: 2px solid #0f0f0f;
    border-radius: 4px;
    color: #FBFBFB;
    font-weight: 500;
}
button:hover{
    background-color: #ED303C;
}
